body {
    margin: 0;
    padding: 0;
    background-image: url('모눈종이.jpg');
    height: 100vh;

}
h1 {text-align: center;
    font-size: 40px;
    font-weight: 700;
    }
/* --------------content내용 */
.content {
    width: 50vw;
    margin: 0 auto;
    padding: 40px;
    background-color:aquamarine;   
}

/* 체크된 리스트 아이템의 텍스트에 줄 그어주기 */
li {
    text-align: center;
    text-decoration: none;
    list-style: none;
}
button {
    margin: 5px;
}
input {
    width: 20vw;
    margin: 0 auto;
    display: block;
    padding: 10px;
}


/* ---------------시계 */
.clock-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock {
    font-size: 36px;
    font-weight: 500;
    
}

/* -----------------이미지 */
.rand-image-container {
    position: relative;
    width:100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
}
.rand-image-container #rand-image {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rand-image-container #rand-image::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0,0,0,0.2);
}

.rand-image-container #rand-image img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
#quotes {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 20px;
    color: white;
}