body {
    margin: 0;
    background-image: url('모눈종이.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
}

/* -------------------------------상*/
.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
.head h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 50px 0;
}
.container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: #eee;
}

/* --------------------------------content */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#todo-form {
    display: flex;
}
#todo-form>input {
    /* width: 50vw; */
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 15px;
}

/* todo-list(ul)내용 */
#todo-list {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    /* width: 40vw; */
    width: 80%;
}

/* li  */
#todo-list li {
    /* width: 80%; */
    width: 100%;
    margin: 10px auto;
    position: relative;
    padding: 5px 0;
}

/* li 친구들 */
#todo-list li input[type="checkbox"] {
    margin: 0 10px;
    padding: 5px;
    width: 20px;
    cursor: pointer;
}

#todo-list li span {
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
    text-align: left;
    margin: 0px 40px 20px 10px;
}

#todo-list li button {
    /* 버튼에 마우스를 올리면 커서 모양을 변경 */
    cursor: pointer;
    /* 촌스러운 것들 싸그리 */
    background: none;
    border: none;
    right: 0;
    position: absolute;
}


/* ---------------시계 */

#clock {
    font-size: 36px;
    font-weight: 500;
}

/* -----------------이미지 */
.rand-image-container {
    position: relative;
    /* width:100%; */
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rand-image-container #rand-image {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rand-image-container #rand-image::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.2);
}

.rand-image-container #rand-image img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

#quotes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 20px;
    color: white;
}

/* ----------------12-20 드래그 */
.dragging {
    opacity: 0.1;
}